.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    width: 100%;
    height: calc(100dvh - 80px);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 80%;
    max-width: 1440px;
}

/* screen */
.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(50% - 20px);
    margin: 0 auto;
    max-height: 500px;
}

.video-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.video-box > video {
    display: block;
    width: 100%;
    height: 22vw;
    object-fit: cover;
}

.video-text {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
}

/* my only screen */
.my-only-screen-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 80%;
    height: 100%;
    max-width: 1440px;
}

.my-only-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 0 auto;
    max-height: none;
    width: 100%;
    height: 100%;
}

.my-only-screen > .video-box > video {
    height: 100%;
}

/* video loader box */
.video-loader-box {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(15deg,#4285f4 50%,#1a73e8 50.1%);
}

.video-loader {
    display: block;
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: spinnerAnimation 1.3s infinite linear;
    transform: translateZ(0);
}    

@media all and (max-width: 1440px) {
    .wrapper {
        width: 90%;
    }
}


 /* height media query */
@media all and (max-width: 840px), all and (max-height: 880px) {
    .container {
        padding: 60px 0 120px 0;
        height: auto;
        overflow-y: auto;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 40px 0;
    }

    .screen {
        flex-basis: 0;
        width: 100%;
        min-height: 50vw;
    }

    .video-box > video {
        height: 100%;
    }
}

@media all and (max-width: 640px) {
    .screen {
        min-height: 350px;
    }
}

@media all and (max-width: 540px) {
    .screen {
        min-height: 320px;
    }
}

@media all and (max-width: 480px) {
    .screen {
        min-height: 300px;
    }
}

@keyframes spinnerAnimation {
    0%,
    100% {
      box-shadow: 0 -3em 0 0.2em, 
      2em -2em 0 0em, 3em 0 0 -1em, 
      2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 0;
    }
    12.5% {
      box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    25% {
      box-shadow: 0 -3em 0 -0.5em, 
      2em -2em 0 0, 3em 0 0 0.2em, 
      2em 2em 0 0, 0 3em 0 -1em, 
      -2em 2em 0 -1em, -3em 0 0 -1em, 
      -2em -2em 0 -1em;
    }
    37.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
       -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
       -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
      box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
       3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
       -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
      box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
      box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}