.container {
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

/* setting bar */
.setting-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* left-setting-bar */
.left-setting-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 33.33%;
}

.left-setting-bar > h2 {
    margin-right: 8px;
    font-weight: 500;
    font-size: 20px;
}

.left-setting-bar > span {
    margin-right: 8px;
    font-weight: 500;
    font-size: 20px;
}

.left-setting-bar > p {
    font-weight: 500;
    font-size: 20px;
}

/* middle-setting-bar */
.middle-setting-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 33.33%;
}

/* right setting bar */
.right-setting-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 33.33%;
}

/* svg box */
.svg-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #1a73e8;
    transition: 0.4s;
    cursor: pointer;
}

.svg-box:not(:last-child) {
    margin-right: 8px;
}
 
.svg-box > svg {
    min-width: 24px;
    min-height: 24px;
}

.svg-box:hover {
    background-color: rgb(149, 205, 255);
}

/* off svg box */
.off-svg-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(234, 67, 53);
    transition: 0.4s;
    cursor: pointer;
}

.off-svg-box:not(:last-child) {
    margin-right: 8px;
}
 
.off-svg-box > svg {
    min-width: 24px;
    min-height: 24px;
}

/* screen off svg box */
.screen-off-svg-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(79, 186, 7);
    transition: 0.4s;
    cursor: pointer;
}

.screen-off-svg-box:not(:last-child) {
    margin-right: 8px;
}
 
.screen-off-svg-box > svg {
    min-width: 24px;
    min-height: 24px;
}

/* screen record svg box */
.screen-record-svg-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    background: linear-gradient(60deg, #e74c3c, #f39c12, #b075c9, #3498db, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 400% 400%;
    transition: 0.4s;
    cursor: pointer;
    animation: gradient-animation 2s ease infinite;
}

.screen-record-svg-box {
    margin-right: 8px;
}

.screen-record-svg-box > svg {
    min-width: 24px;
    min-height: 24px;
}

@media all and (max-width: 1024px) {
    .left-setting-bar {
        display: none;
    }

    .middle-setting-bar {
        flex-basis: 100%;
    }

    .right-setting-bar {
        display: none;
    }
}

/* height media query */
@media all and (max-width: 840px), all and (max-height: 880px) {
    .container {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

@media all and (max-width: 400px) {
    .wrapper {
        width: 90%;
    }

    .middle-setting-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .svg-box > svg, .off-svg-box > svg, .screen-off-svg-box > svg, .screen-record-svg-box > svg {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}