/* main slide */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

/* slide frame */
.slide-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    width: 50%;
}

/* mainslide */
.main-slide {
    margin: 0;
    max-width: 600px;
}

/* image box */
.image-box {
    border-radius: 10px;
    overflow: hidden;
}

.image-box > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* button box */
.left-button-box {
    margin-right: 20px;
}

.right-button-box {
    margin-left: 20px;
}

.left-button-box > button > svg {
    margin-right: 1px;
}

.right-button-box > button > svg {
    margin-left: 1px;
}

.button-box > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.button-box > button:hover {
    background-color: aliceblue;
}

/* text box */
.text-frame {
    width: 50%;
}

.text-box {
    text-align: center;
}

.text-box > h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #1a73e8;
}

.text-box > p {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #acacac;
}

.text-box > button {
    padding: 20px 10px;
    width: 200px;
    border: none;
    border-radius: 6px;
    background-color: #1a73e8;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: "AppleSDGothicNeo";
    font-weight: 600;
    font-size: 18px;
    outline: none;
    transition: 0.4s;
    cursor: pointer;
}

.text-box > button:hover {
    background-color: #7eb2f5;
}

@media all and (max-width: 1240px) {
    .text-box > h2 {
        font-size: 28px;
    }

    .text-box > p {
        font-size: 20px;
    }

    .text-box > button {
        width: 160px;
    }
}

@media all and (max-width: 1024px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slide-frame {
        margin: 0 0 60px 0;
        width: 100%;
    }

    .main-slide {
        max-width: 500px;
    }

    .text-frame {
        margin-bottom: 30px;
        width: 100%;
        max-width: 500px;
    }
}

@media all and (max-width: 768px) {
    .button-box {
        display: none;
    }
}